.select-search{
    & *{
        box-sizing: border-box;
    }
    
    & textarea:focus, input:focus{
        outline: none;
    }
        
    & .select-search-placeholder-style{
        cursor: pointer;
        border: 1px solid lightgrey;
        width: 100%;
        max-width: 350px;
        padding: 3px 5px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    
    & .select-search-modal{
        background-color: #ffffff;
        border: 1px solid lightgrey;
        border-bottom: none;
        /* min-width: 350px; */
        max-height: 300px;
        overflow: auto;
        position: absolute;
        z-index: 9999;
        position: relative;
        
        & .select-search-input-style{
            width: 100%;
            border: none;
            border-bottom: 1px solid lightgrey;
            padding: 3px 5px;
        }
        
        & .select-search-list{
            & .select-search-optgroup{
                position: sticky;
                top: 0px;
                background-color: rgb(235, 235, 235);
                padding: 3px 5px;
            }
            & .select-search-optgroup-list{
                & .select-search-item-style{
                    padding-left: 20px;
                }
            }
            
            & .select-search-item-style{
                border-bottom: 1px solid lightgrey;
                padding: 3px 5px;
                cursor: pointer;
                transition: background-color 0.3s;
                -webkit-transition: background-color 0.3s;
                -moz-transition: background-color 0.3s;
                -o-transition: background-color 0.3s;
                
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                
                &.selected{
                    background-color: #b8e5c6;
                }
                
                &:hover{
                    background-color: #b8e5c6;
                }
            }
        }
    }
}